{include file="index@public/header"}
<script src="__PUBLIC__/js/sysDict.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/base.js"></script>
<link rel="stylesheet" href="__PUBLIC__/themes/fileinput/css/fileinput.min.css">
<script src="__PUBLIC__/themes/fileinput/js/fileinput.min.js"></script>
<script src="__PUBLIC__/themes/fileinput/js/locales/zh.js"></script>

<script>
    $(document).ready(function(){
        var upurl="{:url('/etprs/Etprs/ajaxUploads')}";
        var oFileInput = new FileInput();
        oFileInput.Init("pactFile",upurl,[],"pact","pactPreview");

        var url="{:url('/Etprs/Etprs/confirmSign')}";
        var data = {};
        data.id = session("signId");
        data.etprsId = session("signEtprsId");
        $("#pactId").val(data.id);
        cstmpost("",url,data, function (res) {
            // 把刚刚写的seesion清除
            //sessionStorage.clear();
            if(res["code"]=='1'){
                assign(res);
            }else{
                toastr.error(res["msg"]);
            }
        });
        // 签约入驻
        $("#confirmSign").on("click", function () {
            var url="{:url('/Etprs/Etprs/saveSign')}";
            var data=serializeData("confirmSignForm");
            cstmpost("#confirmSign",url,data, function (res) {
                var jumpurl="{:url('/Etprs/Etprs/etprsList')}";
                if(res["code"]=='1'){
                    toastr.success(res["msg"]);
                    setTimeout(function(){
                        location.href=jumpurl;
                    },500);
                }else{
                    toastr.error(res["msg"]);
                }
            });
        });
    });
    // 楼层获取  id   默认值
    function initBuild(domID,bdefault,floor)
    {
        var url = "{:url('/etprs/Etprs/initBuildFloor')}";
        if($("."+domID).attr('class') != 'control-label') {
            bdefault = bdefault ? bdefault : '';
            var ophtml = '';
            $.get(url, function (res) {
                ophtml = res
                $("." + domID).html(res);
            });
            if (domID == 'rqst_floor') {
                $.get(url, {bd: bdefault}, function (res) {
                    ophtml = res
                    $("." + domID).html(res);
                });

            }
        }
    }
    function downFile(id){
        var url="{:url('/etprs/Etprs/download/id/"+id+"')}";
        window.open(url,"_blank");
    }
</script>
<body>

<main class="site-page">
    <div class="page-container" id="admui-pageContent">
        <div class="page animation-fade page-forms">
            <div class="page-header">
                <h1 class="page-title">确定签约</h1>
            </div>
            <div class="page-content">
                <div class="panel">
                    <div class="panel-body container-fluid padding-top-0">
                        <div class="row row-lg">
                            <div class="col-md-12">
                                <div class="example-wrap">
                                    <div class="example example-buttons">
                                        <h4 class="padding-bottom-10 btborder">基本信息</h4>
                                    </div>
                                    <div class="example">
                                        <form class="form-horizontal">
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 客户名称：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="name"></label>
                                                </div>
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 客户类型：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="typeName"></label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 联系人：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="contact"></label>
                                                </div>
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 联系电话：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="mobile"></label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 来源渠道：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="sourceName"></label>
                                                </div>
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 状态：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="statusName"></label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label">意向需求：</label>
                                                <div class="col-sm-4">
                                                    <div class="col-sm-12 padding-0">
                                                        <label class="control-label" id="rqst_build_name"></label>
                                                    </div>
                                                    <!--<div class="col-sm-3 padding-0">-->
                                                        <!--<label class="control-label" id="rqst_floor"></label>-->
                                                    <!--</div>-->
                                                </div>
                                                <label class="col-sm-2 control-label">需求时间：</label>
                                                <div class="col-sm-4">
                                                    <div class="input-daterange" data-plugin="datepicker" data-language="zh-CN">
                                                        <label class="control-label" id="rqst_start"></label>  <label class="control-label" id="rqst_end"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label">详细需求：</label>
                                                <div class="col-sm-10">
                                                    <label class="control-label text-left" id="rqst"></label>
                                                </div>
                                            </div>
                                            <div class="clearfix visible-sm-block"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body container-fluid padding-top-0">
                        <div class="row row-lg">
                            <div class="col-md-12">
                                <div class="example-wrap">
                                    <div class="example example-buttons">
                                        <h4 class="padding-bottom-10 btborder">企业信息</h4>
                                    </div>
                                    <div class="example">
                                        <form class="form-horizontal">
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 法人或团队负责人：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="legalname"></label>
                                                </div>
                                                <label class="col-sm-2 control-label">营业执照上传：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="buslic"></label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label"><span class="required">*</span> 项目计划书：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="bp"></label>
                                                </div>
                                            </div>
                                            <div class="clearfix visible-sm-block"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body container-fluid padding-top-0">
                        <div class="row row-lg">
                            <div class="col-md-12">
                                <div class="example-wrap">
                                    <div class="example example-buttons">
                                        <h4 class="padding-bottom-10 btborder">房间信息</h4>
                                    </div>
                                    <div class="example">
                                        <form class="form-horizontal">
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label">合同开始时间：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="pact_start"></label>
                                                </div>
                                                <label class="col-sm-2 control-label">合同结束时间：</label>
                                                <div class="col-sm-4">
                                                    <label class="control-label" id="pact_end"></label>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label">已分配房间：</label>
                                                <div class="col-sm-4" id="roomListArr">

                                                </div>
                                            </div>
                                            <div class="clearfix visible-sm-block"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-body container-fluid padding-top-0">
                        <div class="row row-lg">
                            <div class="col-md-12">
                                <div class="example-wrap">
                                    <div class="example example-buttons">
                                        <h4 class="padding-bottom-10 btborder">合同信息</h4>
                                    </div>
                                    <div class="example">
                                        <form class="form-horizontal" id="confirmSignForm">
                                            <input type="hidden" id="pactId" name="id">
                                            <div class="form-group col-md-12 padding-0">
                                                <label class="col-sm-2 control-label padding-bottom-10">合同编号：</label>
                                                <div class="col-sm-4 padding-bottom-10">
                                                    <input type="text" class="form-control" name="pactNo" placeholder="合同编号" autocomplete="off">
                                                </div>
                                                <label class="col-sm-2 control-label padding-bottom-10">合同上传：</label>
                                                <div class="col-sm-4 padding-bottom-10">
                                                    <div class="input-group input-group-file">
                                                        <span class="input-group-btn width-full">
                                                            <input type="file" class="form-control" id="pactFile" value="" data-ext="jpg,jpeg,png,doc,docx,pdf"  data-size="5">
                                                            <input type="hidden" data-placeholder="合同上传"  name="pact" id="pact" class="opt-require" value=''>
                                                        </span>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default btn-outline dropdown-toggle" data-toggle="dropdown" aria-expanded="false" tabindex="-1">
                                                                <i class="icon wb-download" aria-hidden="true"></i>
                                                            </button>
                                                            <ul class="dropdown-menu pactPreview" aria-labelledby="exampleColorDropdown1" role="menu">

                                                            </ul>
                                                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-trigger="click" data-original-title="支持格式：'jpg,jpeg,png,doc,docx,pdf';<br/>文件大小：不能超过2M" title="">
                                                                ？
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix visible-sm-block"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-actions text-center">
                    <button type="button" class="btn btn-primary margin-3" id="confirmSign">&nbsp;&nbsp;<i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;保存&nbsp;&nbsp;</button>
                    <button type="button" class="btn btn-danger margin-3" onClick="javascript :history.back(-1);" >&nbsp;&nbsp;<i class="fa fa-close" aria-hidden="true"></i>&nbsp;取消&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
</main>
{include file="index@public/footer"}