<!DOCTYPE html>
<html class="no-js css-menubar" lang="zh-cn">

<head>
    <title>创8助手--孵化空间好帮手</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
    <!-- 图标 CSS -->
    <link rel="stylesheet" href="__PUBLIC__/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/themes/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="__PUBLIC__/themes/iconfont/demo.css"><!--阿里图库-->
    <link rel="stylesheet" href="__PUBLIC__/themes/iconfont/iconfont.css"><!--阿里图库-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="__PUBLIC__/themes/classic/global/css/bootstrap.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="__PUBLIC__/themes/classic/base/css/site.css" id="admui-siteStyle">
    <link rel="stylesheet" href="__PUBLIC__/themes/theme.css">
    <!--选择时间插件-->
    <link rel="stylesheet" href="__PUBLIC__/vendor/jquery-labelauty/jquery-labelauty.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/bootstrap-datepicker/bootstrap-datepicker.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/bootstrap-maxlength/bootstrap-maxlength.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/bootstrap-daterangepicker/daterangepicker.css">

    <!-- 插件 CSS -->
    <link rel="stylesheet" href="__PUBLIC__/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/toastr/toastr.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/jquery-strength/jquery-strength.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/alertify-js/alertify.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/datatables-bootstrap/dataTables.bootstrap.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/datatables-responsive/dataTables.responsive.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/formvalidation/formValidation.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="__PUBLIC__/vendor/switchery/switchery.css">
    <!--图片放大插件-->
    <link rel="stylesheet" href="__PUBLIC__/vendor/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="__PUBLIC__/css/examples/components/advanced/lightbox.css">
    <!-- page CSS-->
    <link rel="stylesheet" href="__PUBLIC__/css/system/account.css">
    <link rel="stylesheet" href="__PUBLIC__/css/system/settings/display.css">
    <link rel="stylesheet" href="__PUBLIC__/css/examples/forms/layouts.css"><!--图片放大插件-->

    <!-- 插件 -->
    <script src="__PUBLIC__/vendor/jquery/jquery.min.js"></script>
    <script src="__PUBLIC__/vendor/jquery-ui/jquery-ui.min.js"></script> <!--上传图片相关插件与气泡有冲突-->
    <script src="__PUBLIC__/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="__PUBLIC__/vendor/modernizr/modernizr.min.js"></script>
    <script src="__PUBLIC__/vendor/breakpoints/breakpoints.min.js"></script>
    <script src="__PUBLIC__/vendor/artTemplate/template.min.js"></script>
    <script src="__PUBLIC__/vendor/toastr/toastr.min.js"></script>
    <script src="__PUBLIC__/vendor/bootbox/bootbox.min.js"></script>
    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]--><!--[if lt IE 10]>
    <script src="__PUBLIC__/vendor/media-match/media.match.min.js"></script>
    <script src="__PUBLIC__/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- 核心  -->
    <script src="__PUBLIC__/themes/classic/base/js/site.js"></script>
    <script src="__PUBLIC__/themes/classic/global/js/configs/site-configs.js"></script>
    <script src="__PUBLIC__/themes/classic/global/js/components.js"></script>

    <!--<script>-->
        <!--Breakpoints();-->
    <!--</script>-->

</head>
<input type="hidden" id="log_url" value="{:url('/user/Login/login')}">