{include file="wechat@public/header"}
<!--阿里图库-->
    <link rel="stylesheet" href="__PUBLIC__/wechat/iconfont/demo.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/lib/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/jquery-weui.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/demos.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/public.css">
    <!--me  -->
	    <link href="__PUBLIC__/plugins/toastr/toastr.css" rel="stylesheet" type="text/css">
	    <script src="__PUBLIC__/plugins/toastr/toastr.js"></script>
<style>
	a{text-decoration: none;}
	a:visited{text-decoration: none;}
	a:hover {text-decoration: none;}
	a:active{text-decoration:none;} 
	.weui-cell__hd .weui-label{color:#595757;font-size:15px;}
	.weui-cell__bd{color:#878787;font-size:15px;}
	.weui-cell__bd img{width:36px;height:36px;border-radius:18px;float:right;}
	.weui-input{text-align:right;}
	.weui-select{direction: rtl;color:#878787;}
</style>
</head>
<body ontouchstart>
<div class="navbox">
	<a href="{:url('wechat/test/index')}"><div class="left"><i class="icon iconfont icon-back"></i></div></a>
	<div class="center">我的</div>
</div>
<div class="choosebox first-header">
    <div class="weui-row weui-no-gutter">
	    <div class="weui-col-50 active">
	      	<a href="">我的空间</a> 
	    </div>
	    <div class="weui-col-50">
	      	<a href="{:url('wechat/user/myNum')}">我的账号</a>
	    </div>
    </div>
</div>   
<form id="registerForm" >
<div class="weui-cells weui-cells_form" style="margin-top:0;"> 
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">空间名称</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" name="name" value="{$data['name']}"><!--placeholder="新智能"-->
        </div>
    </div>
    <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd"><label for="" class="weui-label">空间类型</label></div>
        <div class="weui-cell__bd">
	        <select class="weui-select" name="type">
	        	 {foreach $iqbttype as $k=>$v}	
		         <option value="{$v.code}" {if $v.code==$data['type']} selected="selected"{/if}>{$v.name}</option>
		         {/foreach}
	        </select>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">联系人</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" name="contact"  value="{$data['contact']}"><!--placeholder="新智能"-->
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label for="name" class="weui-label">空间位置</label></div>
        <div class="weui-cell__bd">
          <input class="weui-input" id="start" type="text" name='area' value="{$area}">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">详细地址</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" name="address"  value="{$data['address']}"/>
        </div>
    </div>
</div>
</form>
<div class="choosebox last-footer" style="background:none;margin-top:20px;">
    <div class="weui-row weui-no-gutter">
	    <div class="weui-col-100" style="background:none;">
	      	<a class="weui-btn" id="subm-btn"  style="height:40px;line-height:40px;font-size:16px;background:#f39b0f;">保存</a>
	    </div>
    </div>
</div>
{include file="wechat@public/footer"}
<script>
	$(function() {
		FastClick.attach(document.body);
		
		$('#subm-btn').click(function(){
            var url="{:url('/wechat/User/saveMyIcb')}";
            var data=serializeData('registerForm');   // __PUBLIC__/js/base.js
            // cstmpost()防止重复点击  __PUBLIC__/js/base.js
            cstmpost('#subm-btn',url,data,function(res){  //?
            	if(res.code==1){
                	//toastr.error(res.msg);
            		alert(res.msg);
					setTimeout(function(){
						location.href="{:url('wechat/User/myIcb')}"
					},500)
                }else{
                	//toastr.error(res.msg);
                	alert(res.msg);
                }
          });
		});
    });
    $('.fo-bottom').addClass('weui-bar__item--on');
	$('.fo-bottom').siblings().removeClass('weui-bar__item--on');
</script>
<script src="__PUBLIC__/wechat/js/city-picker.js"></script>
<script>
  $("#start").cityPicker({
    title: "请选择空间位置",
    onChange: function (picker, values, displayValues) {
      console.log(values, displayValues);
    }
  });
</script>