{include file="wechat@public/header"}
<!--阿里图库-->
    <link rel="stylesheet" href="__PUBLIC__/wechat/iconfont/demo.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/lib/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/jquery-weui.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/demos.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/public.css">
    <!--me  -->
	    <link href="__PUBLIC__/plugins/toastr/toastr.css" rel="stylesheet" type="text/css">
	    <script src="__PUBLIC__/plugins/toastr/toastr.js"></script>
<style>
	a{text-decoration: none;}
	a:visited{text-decoration: none;}
	a:hover {text-decoration: none;}
	a:active{text-decoration:none;} 
	.weui-cell__hd .weui-label{color:#595757;font-size:15px;}
	.weui-cell__hd .weui-label .require{color:#e64340;}
	.weui-cell__bd{color:#878787;font-size:15px;}
	.weui-input{text-align:left;}
</style>
</head>
<body ontouchstart>
<div class="navbox">
	<a href="javascript:history.back(-1)"><div class="left"><i class="icon iconfont icon-back"></i></div></a>
	<div class="center">修改密码</div>
</div>
<div class="weui-cells weui-cells_form first-header">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">原密码</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" name="password" id="password" placeholder="输入原密码">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" name="newpassword" id="newpassword" placeholder="输入新密码，6-16位字符">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" name="cfmpassword" id="cfmpassword" placeholder="再次确认密码">
        </div>
    </div>
</div>
<div class="choosebox" style="background:none;margin-top:20px;">
    <div class="weui-row weui-no-gutter" style="padding:0 15px;">
	    <div class="weui-col-100" style="background:none;">
	      	<a class="weui-btn" href="javascript:" id="btn-reset" style="font-size:16px;background:#0093e7;">确认</a>
	    </div>
    </div>
</div>
{include file="wechat@public/footer"}
<script>
	$(function() {
		FastClick.attach(document.body);
		
		$("#btn-reset").click(function () {
	        var url = "{:url('/wechat/User/resetpwd')}";
	        var password=$("#password").val();
	        var newpassword=$("#newpassword").val();
	        var cfmpassword=$("#cfmpassword").val();

	        if(newpassword!=cfmpassword){
	        	alert("两次密码不一致");
	            //toastr.error("两次密码不一致");
	        }else{
	            cstmpost("#btn-reset",url,{'password':password,"newpassword":newpassword,"cfmpassword":cfmpassword}, function (data) {
	                if (data.code == 1) {
	                	alert("密码修改成功!");
	                    //toastr.success('密码修改成功!');
	                    setTimeout(function() {
	                        location.href = "{:url('wechat/Auth/bind')}";
	                    },1000 );
	                } else {
	                	alert(data.msg);
	                    //toastr.error(data.msg);
	                }
	            });
	        }
		});
		
	});
	$('.fo-bottom').addClass('weui-bar__item--on');
	$('.fo-bottom').siblings().removeClass('weui-bar__item--on');
</script>
<script src="__PUBLIC__/wechat/js/city-picker.js"></script>