{include file="index@public:header"}
{include file="index@public/search"}
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<script src="__PUBLIC__/js/sysDict.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/base.js"></script>

<main class="site-page">
    <div class="page-container" id="admui-pageContent">
        <div class="page animation-fade page-account">
            <div class="page-header">
                <h1 class="page-title">通知管理</h1>
            </div>
            <div class="page-content">
                <div class="row row-lg">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body nav-tabs-animate">
                                <div class="example">
                                    <form action="" id="waitForm">
                                    <div class="form-group col-md-3 padding-left-0">
                                        <div class="input-group">
                                            <span class="input-group-addon">通知标题</span>
                                            <input type="text" class="form-control activeName title"   name="title" placeholder="请输入通知标题">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 padding-left-0">
                                        <div class="input-group">
                                            <span class="input-group-addon">通知状态</span>
                                            <select class="form-control activeName area" id="" name="status">
                                                <option value=''>全部</option>
                                                <option value='7002001'>已发布</option>
                                                <option value='7002002'>未发布</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3 padding-left-0">
                                        <div class="btn-actions">
                                            <button type="button" class="btn btn-primary btn-search" feresh-table="actTable" data-form="waitForm" id="addChlidMenu">&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询&nbsp;&nbsp;</button>
                                            <a href="addpubadd.html"><button type="button" class="btn btn-info btn-xls" >&nbsp;&nbsp;<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;新增&nbsp;&nbsp;</button></a>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <table id="actTable" class="table table-bordered text-center cdtable" data-keywords="" data-side-pagination="server" data-toolbar="true" data-show-toggle="false" data-toggle="table"  data-search="false"
                                   data-url="{:url('user/notice/getNoticeList')}" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]" data-striped="true" data-detail-view="false">

                                    <thead>
                                        <tr>
                                            <th class="text-center" data-field="addtime">发布时间</th>
                                            <th class="text-center" data-field="title">标题</th>
                                            <th class="text-center" data-formatter="status">状态</th>
                                            <th class="text-center" data-formatter="usertype">推送对象</th>
                                            <th class="text-center" data-field="pushNum">已推送（人）</th>
                                            <th class="text-center" data-field="readNum">已阅读（人）</th>
                                            <!-- <th class="text-center" data-formatter="checknumFmt">待审核</th> -->
                                            <th class="text-center" data-formatter="actFmt"> 操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{include file="index@public/footer"}
<script>
    // 列表页初始化
    function actFmt(value, row, index) {
        var status=row.status;
        var html=''
        if(row.publish=="7002001"){
                html +=['<div class="btn-actions margin-left-5 inline-block">\
                        <a href="addiqbtpublic.html"><button type="button" class="btn btn-outline btn-sm btn-primary" id="look" value="'+ row.id +'">查看</button></a>\
                        </div>'].join("");
                        return html;
        }
//                html +=['<a onclick="cancelSign(' + row.id + ')"><button type="button" class="btn btn-sm btn-icon btn-flat btn-default sign" id="sign"  role="button" aria-hidden="true" data-toggle="modal" data-original-title="取消报名" title="取消报名">&nbsp;&nbsp;<i class="icon wb-close" aria-hidden="true"></i></button></a>'].join("");
            html +=['<div class="btn-actions margin-left-5 inline-block">\
                    <a href="addpubadd.html"><button type="button" class="btn btn-outline btn-sm btn-warning" id="edit" value="'+ row.id +'">编辑</button></a>\
                </div>\
                <div class="btn-actions margin-left-5 inline-block">\
                <a><button type="button" class="btn btn-outline btn-sm btn-success" id="relea" value="'+ row.districtId +'" valueId="'+ row.id +'">发布</button><button style="display:none" value="" class="buttnone">'
                + row.content +'</button></a>\
                </div>'].join("");
        return html;
    }
        function status(value, row, index) {
        var status=row.status;
        var html=''
        if(row.publish=="7002001"){
                html +=['已发布'].join("");
                        return html;
        }
//                html +=['<a onclick="cancelSign(' + row.id + ')"><button type="button" class="btn btn-sm btn-icon btn-flat btn-default sign" id="sign"  role="button" aria-hidden="true" data-toggle="modal" data-original-title="取消报名" title="取消报名">&nbsp;&nbsp;<i class="icon wb-close" aria-hidden="true"></i></button></a>'].join("");
            html +=['未发布'].join("");
        return html;
    }
    // 推送对象
    function usertype(value, row, index) {
        var html=''
        if(row.usertype=="6019001"){
                html +=['孵化器管理员'].join("");
                        return html;
        }
        if(row.usertype=="6019002"){
                html +=['企业用户'].join("");
                        return html;
        }
        if(row.usertype==""){
                html +=['孵化器管理员,企业用户'].join("");
                        return html;
        }
        return html;
    }
    // 点击此查看
   $('body').on('click','#look',function(){
        sessionStorage.setItem('id',$(this).attr('value'))
   })
//    点击编辑
   $('body').on('click','#edit',function(){
        sessionStorage.setItem('id',$(this).attr('value'))
   })
//    点击新增
   $('body').on('click','.btn-xls',function(){
        sessionStorage.setItem('id','')
   })
//    列表页发布
   $('body').on('click','#relea',function(){
       let url = "{:url('/user/notice/pubNotice')}";
       
    if($(this).parents('tr').children('td:eq(3)').text() == '孵化器管理员'){
        var user = 6019001;
    }else if($(this).parents('tr').children('td:eq(3)').text() == '企业用户'){
        var user = 6019002;
    } else {
        var user = '';
    }
       let data = {
        id:$(this).attr('valueId'),
        title:$(this).parents('tr').children('td:eq(1)').text(),
        usertype:user ,
        districtId:$(this).attr('value'),
        content:$('.buttnone').html(),
        publish:'7002001',
       }
       cstmpost('',url,data,function(res){
        if(res.code){
                toastr.success(res.msg)
            setTimeout(function(){
                $('#actTable').bootstrapTable('refresh');
            },500)
                return false;
            } else {
                toastr.error(res.msg)
            }
       })
   })
</script>   