{include file="index@public/header"}
<!--时间滑动插件-->
<link rel="stylesheet" href="__PUBLIC__/vendor/animsition/animsition.css">
<link rel="stylesheet" href="__PUBLIC__/vendor/toastr/toastr.css">
<link rel="stylesheet" href="__PUBLIC__/vendor/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="__PUBLIC__/vendor/slick-carousel/slick.css">
<link rel="stylesheet" href="__PUBLIC__/css/examples/components/basic/carousel.css">
<!--选择时间点插件-->
<link rel="stylesheet" href="__PUBLIC__/vendor/jt-timepicker/jquery-timepicker.css">
<!--轮播插件 -->
<script src="__PUBLIC__/vendor/slick-carousel/slick.min.js"></script>
<script src="__PUBLIC__/js/sysDict.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/base.js"></script>


<script>
    $(document).ready(function () {

        sum();
        assign();
        //填充时间框为今天
        var myDate = new Date();
        var year=myDate.getFullYear();    //获取完整的年份(4位,1970-????)
        var month=myDate.getMonth()+1;       //获取当前月份(0-11,0代表1月)
        var date=myDate.getDate();        //获取当前日(1-31)
        $('.datemt').val(year+'-0'+month+'-'+date);
        // 获取所有会议室
        var url = "{:url('/meetroom/Meetroom/getAllname')}";
        cstmpost("#", url, {}, function (res) {
            session("orderEtprsName",res.etprsName);
            if (res.code == '1') {
                if (res.data) {
                    for (var i = 0; i < res.data.length; i++) {
                        var op = '<option value="' + res.data[i].id + '">' + res.data[i].name + '</option>';
                        $(".mtroomNameList").append(op);
                    }
                }
            } else {
                toastr.error(res.msg);
            }
        });


        // 查询事件
        $(".btn-searchmt").on('click', function () {
            sum();
        });
        // 查询表单变化查询
        $(".mtroomNameList,.rqst_build,.rqst_floor,.datemt").on('change',function(){

            // 循环获取的数据
            $('.roomleft').children('.roomRk').remove()
            sum();
        });

        // 点击编辑事件
        $(".goEdit").click(function(){
            var id = $(this).attr("data-id");
            $("#mtroomId").attr('data-mtroomId',id);
            session("editMtroomId",id);
            $("#mtRoomForm").removeClass("hidden");
            $("#compileRoleForm2").addClass("hidden");
            var url="{:url('/Meetroom/Meetroom/getMtroomDetail')}";
            var data={};
            data.mtroomId = id;
            cstmpost("",url,data, function (res) {
                if(res["code"]=='1'){
                    assign(res);
                }else{
                    toastr.error(res["msg"]);
                }
            });

        });
        $("#cancel").click(function(){
            $("#compileRoleForm2").removeClass("hidden");
            $("#mtRoomForm").addClass("hidden");
        });
        // 确认预定
        $(".confirmOrder").click(function(){
            var url="{:url('/meetroom/Meetroom/reserve')}";
            var hideModal = $(this).attr("hide-modal");
            var clearForm = $(this).attr("data-form");
            var data=serializeData(clearForm);
            data.starttime = session('curDate')+data.starttime;
            data.endtime = session('curDate')+data.endtime;
            cstmpost(".confirmOrder",url,data, function (res) {
                if(res["code"]=='1'){
                    toastr.success(res["msg"]);
                    $("#" + hideModal).modal("hide");
                    $("#" + clearForm)[0].reset();
                    $('.roomleft').children('.roomRk').remove()
                    sum();
                }else{
                    toastr.error(res["msg"]);
                }
            });
        });

        // 保存会议室
        $("#saveMtroom").click(function(){
            var url="{:url('/meetroom/Meetroom/saveEditmtroom')}";
            var data=serializeData("mtRoomForm");
            var hideModal = $(this).attr("hide-modal");
            var clearForm = $(this).attr("data-form");
            cstmpost("#saveMtroom",url,data, function (res) {
                if(res["code"]=='1'){
                    toastr.success(res["msg"]);
                    $("#" + hideModal).modal("hide");
                    $("#" + clearForm)[0].reset();
                }else{
                    toastr.error(res["msg"]);
                }
            });
        });
        $(".goMyAplList").click(function(){
            // 跳转我的预定列表
            var url="{:url('/meetroom/Meetroom/myAplList')}";
            location.href = url;
        });

        // 取消预定
        $(".cancelOrder").click(function(){
            var url="{:url('/meetroom/Meetroom/cancelReserve')}";
            var data={};
            var hideModal = $(this).attr("hide-modal");
            data.id = $(this).attr("data-id");
            cstmpost(".cancelOrder",url,data, function (res) {
                if(res["code"]=='1'){
                    toastr.success(res["msg"]);
                    $("#logsForm1").modal("hide");
                    location.reload();
                }else{
                    toastr.error(res["msg"]);
                    $(".cancelOrder").removeAttr('hide-modal')
                }
            });
        });
    });

    // 预定详情
    function orderDetail(obj)
    {
        var id = obj.attr("data-id");
        $(".cancelOrder").attr("data-id",id);
        var url="{:url('/meetroom/Meetroom/orderDetail')}";
        var data={};
        data.mtAplId = id;
        cstmpost("",url,data, function (res) {
            if(res["code"]=='1'){
                var end=res.data.endstamp;
                var timestamp=$.now();
                //如果是过去的预订,隐藏取消按钮
                if (end<timestamp){
                    $('.cancelOrder').hide();
                }
                assign(res);
            }else{
                toastr.error(res["msg"]);
            }
        });
    }

    function mtroomDetail(obj)
    {
        $("#cancel").click();
        // 会议室详情
        var url="{:url('/Meetroom/Meetroom/getMtroomDetail')}";
        var data={};
        data.mtroomId = obj.attr("data-id");
        $(".goEdit").attr("data-id",obj.attr("data-id"));
        cstmpost("",url,data, function (res) {
            if(res["code"]=='1'){
                $("#dtName").text(res.data.name);
                $("#dtBuildName").text(res.data.buildName);
                $("#dtFloor").text(res.data.floor);
                $("#dtAcceptName").text(res.data.acceptName);
                $("#dtFacilityName").text(res.data.facilityName);
                $("#dtDesc").text(res.data.desc);
                $("#dtFreeName").text(res.data.freeName);
                $("#dtPrice").text(res.data.price);
                $("#dtAuditName").text(res.data.auditName);
                $("#dtPublishName").text(res.data.publishName);
                $('#goEdit').attr("data-id",res.data.id);
            }else{
                toastr.error(res["msg"]);
            }
        });

    }

    function goMyApl(obj)
    {
        // 跳转我的预定列表
        var url="{:url('/meetroom/Meetroom/myAplList')}";
        location.href = url;
    }

    function cOrder(obj){
        // 点击预定事件
        var id = obj.attr("data-id");
        $("#orderMtroom").val(id);
        $("#orderEtprsName").text(session("orderEtprsName"));
        $(".dateStr").text(session('curDate'));
        session("orderMtroomId",id);
        var url="{:url('/Meetroom/Meetroom/reserveData')}";
        var data={};
        data.mtRoomId = id;
        cstmpost("",url,data, function (res) {
            if(res["code"]=='1'){
                $("#orderMtroomName").text(res.data.name);
                $("#odFreeName").text(res.data.free);
                //$("#odPrice").text(res.data.price);
                //$("#curPrice").text(res.data.price);
                //$("#payabled").text(res.data.price);
            }else{
                toastr.error(res["msg"]);
            }
        });
    }

    function collect(obj) {
        var url = "{:url('/Meetroom/Meetroom/mtCollect')}";
        var id = obj.attr("data-id");
        var data = {};
        data.mtroomId = id;
        cstmpost("", url, data, function (res) {
            if (res["code"] == '1') {
                toastr.success(res["msg"]);
                // 点击心形样式
                obj.children('i').toggleClass("fa-heart-o").toggleClass("fa-heart")
                if (obj.children('i').hasClass('fa-heart')) {
                    $('.roomleft').prepend(obj.parents('.roomRk'))
                } else {
                    $('.roomleft').append(obj.parents('.roomRk'))
                }
            } else {
                toastr.error(res["msg"]);
            }
        });
    }



    // 楼层获取  id   默认值
    function initBuild(domID,bdefault,floor)
    {
        var url = "{:url('/etprs/Etprs/initBuildFloor')}";
        if($("."+domID).attr('class') != 'control-label') {
            bdefault = bdefault ? bdefault : '';
            cstmpost('',url, {bd: bdefault},function (res) {
                var ophtml = '<option value="">选择楼座</option>';
                for (var tmp in res) {
                    if(tmp == bdefault){
                        ophtml = ophtml + '<option value="'+tmp+'" selected>'+res[tmp]+'</option>';
                    }else{
                        ophtml = ophtml + '<option value="'+tmp+'">'+res[tmp]+'</option>';
                    }
                }
                $("." + domID).html(ophtml);
                $("."+domID).attr("data-default",floor);
                //$("."+domID).change();
            });
        }
    }
</script>
<body>    
<input type="hidden" value="{:url('/meetroom/Meetroom/getMtroomList')}" id="mtroomUrl">
<main class="site-page">
    <div class="page-container" id="admui-pageContent">
        <div class="page animation-fade page-account">
            <div class="page-header">
                <h1 class="page-title">会议室管理</h1>
            </div>
            <div class="page-content">
                <div class="row row-lg">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-body nav-tabs-animate">
                                <!--会议室查询表单-->
                                <div class="example">
                                    <form action="" id="mtroomSearch">
                                        <div class="form-group col-md-2 padding-left-0">
                                            <div class="input-group">
		                                    <span class="input-group-addon">
		                                        <i class="icon wb-calendar" aria-hidden="true"></i>
		                                    </span>
                                                <input type="text" class="form-control datemt" placeholder="选择日期"
                                                       data-plugin="datepicker" data-language="zh-CN" name="date">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2 padding-left-0">
                                            <div class="input-group">
                                                <span class="input-group-addon">楼座</span>
                                                <select class="form-control rqst_build" name="build"
                                                        data-url="{:url('/etprs/Etprs/changeBuild')}">

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2 padding-left-0">
                                            <div class="input-group">
                                                <span class="input-group-addon">楼层</span>
                                                <select class="form-control rqst_floor" name="floor">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-2 padding-left-0">
                                            <div class="input-group">
                                                <span class="input-group-addon">会议室名称</span>
                                                <select class="form-control mtroomNameList" name="id">
                                                    <option value="">选择会议室</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="form-group col-md-2 padding-left-0" style="display: none;">
                                        <div class="btn-actions">
                                            <button type="button" class="btn btn-primary btn-searchmt" >&nbsp;&nbsp;<i
                                                    class="fa fa-search" aria-hidden="true"></i>&nbsp;查询&nbsp;&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <div class="btn-actions">
                                            <button type="button" class="btn btn-primary btn-outline pull-right goMyAplList">&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;我的预定&nbsp;&nbsp;</button>
                                        </div>
                                    </div>
                                </div>
                                <!--确认预定弹出层-->
                                <div class="modal" id="logsForm" aria-hidden="true" aria-labelledby="logsForm" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-center duepayAll">
                                        <form class="modal-content " id="2compileRoleForm">
                                            <input type="hidden" id="orderMtroom" name="mtroomId">
                                            <div class="modal-header">
                                                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">
                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                </button>
                                                <h4 class="modal-title">会议室预定</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form form-horizontal logs-settings">
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议室名称：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="orderMtroomName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">是否免费：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="odFreeName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">收费单价：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label oneselfPay " ></label>
                                                            <label class="control-label" >元/小时</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议名称：</label>
                                                        <div class="col-xs-9">
                                                            <input type="text" class="form-control" name="name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">申请企业：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="orderEtprsName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">开始时间：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label col-xs-6 text-left padding-left-0 dateStr" ></label>
                                                            <span class="input-group col-xs-6">
							                                    <span class="input-group-addon">
							                                        <i class="icon wb-time" aria-hidden="true"></i>
							                                    </span>
																<input type="text" class="form-control timeChoice" name="starttime" value="1:00" data-plugin="timepicker" value="onfocus=this.blur()" onfocus="this.blur()">
																</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">结束时间：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label col-xs-6 text-left padding-left-0 dateStr"></label>
                                                            <span class="input-group col-xs-6">
							                                    <span class="input-group-addon">
							                                        <i class="icon wb-time" aria-hidden="true"></i>
							                                    </span>
																<input type="text" class="form-control timeChoiceend" name="endtime" value="上午1:00" data-plugin="timepicker" value="onfocus=this.blur()" onfocus="this.blur()">
																</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">应缴金额：</label>
                                                        <div class="col-xs-9">
                                                            <input type="hidden" name="payable" id="curPrice" value="">
                                                            <label class="control-label duepay" >0</label>
                                                            <label class="control-label">元</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="btn-actions pull-right margin-left-15">
                                                    <a class="btn btn-default" data-dismiss="modal">取消</a>
                                                    <!--<span class="badge up badge-primary">2</span>-->
                                                </div>
                                                <div class="btn-actions pull-right margin-left-15">
                                                    <button class="btn btn-primary confirmOrder"  hide-modal="logsForm" data-form="2compileRoleForm" type="button">预定</button>
                                                    <!--<span class="badge up badge-primary">1</span>-->
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <!--已预订企业信息弹出层-->
                                <div class="modal" id="logsForm1" aria-hidden="true" aria-labelledby="logsForm1"
                                     role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-center">
                                        <form class="modal-content " id="compileRoleForm">
                                            <div class="modal-header">
                                                <button type="button" class="close" aria-hidden="true"
                                                        data-dismiss="modal">
                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                </button>
                                                <h4 class="modal-title">会议预定详情</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form form-horizontal logs-settings">
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议室名称：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="mtroomName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">是否免费：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="freeName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">收费单价：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="od-price"></label><span>元/小时</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议室状态：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="statusName">预定成功</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议名称：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="meetName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">申请企业：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="etprsName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">开始时间：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="starttime">2018-02-22 10:00</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">结束时间：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="endtime">2018-02-22 30:00</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">应缴金额：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="payable"></label><span>元</span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">实缴金额：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="paid"></label><span>元</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="btn-actions pull-right margin-left-15">
                                                    <a class="btn btn-primary cancelOrder" data-model="logsForm1">取消预定</a>
                                                </div>
                                                <div class="btn-actions pull-right margin-left-15">
                                                    <a class="btn btn-" data-dismiss="modal">关闭</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- 会议室详情start -->
                                <div class="modal" id="logsForma" aria-hidden="true" aria-labelledby="logsForm" role="dialog" tabindex="-1">
                                    <div class="modal-dialog modal-center">
                                        <form class="modal-content form-horizontal" id="compileRoleForm2">
                                            <div class="modal-header">
                                                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">
                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                </button>
                                                <h4 class="modal-title">会议室详情 </h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form form-horizontal logs-settings">
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议室名称：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">楼座：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtBuildName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">楼层：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtFloor"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">容纳人数：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtAcceptName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">配套设施：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtFacilityName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议室介绍：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtDesc"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">是否免费：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtFreeName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">收费单价：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtPrice"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">是否审核：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtAuditName"></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">是否发布：</label>
                                                        <div class="col-xs-9">
                                                            <label class="control-label" id="dtPublishName"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer col-md-7">

                                                <div class="btn-actions pull-right margin-left-15">
                                                    <button class="btn btn-primary goEdit"  data-id="4" type="button">编辑</button>
                                                </div>
                                            </div>
                                        </form>
                                        <form class="modal-content hidden" id="mtRoomForm">
                                            <input type="hidden" name="id" id="id">
                                            <div class="modal-header">
                                                <button type="button" class="close" aria-hidden="true"
                                                        data-dismiss="modal">
                                                    <i class="icon wb-close" aria-hidden="true"></i>
                                                </button>
                                                <h4 class="modal-title">编辑会议室</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form form-horizontal logs-settings">
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 会议室名称：</label>
                                                        <div class="col-xs-9">
                                                            <input type="text" class="form-control" id="name" name="name"
                                                                   placeholder="请输入会议室名称">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 楼座：</label>
                                                        <div class="col-xs-9">
                                                            <select class="form-control rqst_build" name="buildId" data-url="{:url('/etprs/Etprs/changeBuild')}">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 楼层：</label>
                                                        <div class="col-xs-9">
                                                            <select class="form-control rqst_floor" name="floor">
                                                                <option value="">选择楼层</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 容纳人数：</label>
                                                        <div class="col-xs-9">
                                                            <select class="form-control" name="accept" id="accept">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">配套设施：</label>
                                                        <div class="col-xs-9">
                                                            <select class="width-full" multiple
                                                                    data-plugin="selectpicker" data-max-options="10" id="mtrFacility" name="facility">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label">会议室介绍：</label>
                                                        <div class="col-xs-9">
                                                            <textarea class="form-control"
                                                                      placeholder="输入详细会议室介绍" name="desc" id="desc"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 是否免费：</label>
                                                        <div class="col-xs-9" id="free" >

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 收费单价：</label>
                                                        <div class="col-xs-9">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" id="price" name="price"
                                                                       placeholder="请输入单价金额">
                                                                <span class="input-group-addon">元/小时</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 是否需审核：</label>
                                                        <div class="col-xs-9" id="audit" >

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label class="col-xs-3 control-label"><span
                                                                class="required">*</span> 是否发布：</label>
                                                        <div class="col-xs-9" id="publish" >

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="btn-actions pull-right margin-left-15">
                                                    <a class="btn btn-primary"  hide-modal="logsForma"
                                                       data-form="mtRoomForm" id="saveMtroom">保存</a>
                                                </div>
                                                <div class="btn-actions pull-right margin-left-15">
                                                    <a class="btn btn-default"  hide-modal="logsForma"
                                                       data-form="mtRoomForm" id="cancel">取消</a>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <!-- 会议室详情end -->
                                <div class="example">
                                    <style>
			                    		/*会议室选择时间*/
										.meetingright {
											width: 100%;
											}
										.meetingright .timebox {
											border-bottom: 1px solid #c1d6e0;
											text-align: left;
											text-indent: 4px;
											border-right: 1px solid #c1d6e0;
											border-top: 1px solid #c1d6e0;
											width: 30px;
											height: 80px;
											cursor: pointer;
											}	
										.meetingright .timechoose {
											background: #f3f7f9;
											}
										.meetingright .timeactive {
											background: #46be8a;
											color: #FFF;
											}
										.meetingright .timeactive1 {
											background: #f2a654;
											color: #FFF;
											}
										.slick-prev {
											left: -40px;
											}
										.slick-next {
											right: -40px;
											}
										.meetingright .introduce {
											color: #FFF;
											line-height: 32px;
											padding-left: 37px;
											padding-right: 37px;
											}
										.meetingright .introduce span{
											padding-left:20px;																
											}
			                    	</style>

                                    <div class="col-md-12 padding-0 roomleft meetingright">
                                        <div class="col-md-12 padding-0 margin-top-10 margin-bottom-30 roomRank roomSpecial"  style="display: none">
                                            <div class="col-md-12 col-sm-12 col-xs-12 padding-top-0 margin-0 margin-bottom-0 RRKchildren">
                                                <div class="slider margin-bottom-0" id="exampleResponsive">
                                                    <div class="timebox padding-0" value = '00:00' id = '00'>00:00</div>
                                                    <div class="timebox padding-0" value = '00:30' id = '01'></div>
                                                    <div class="timebox padding-0" value = '01:00' id = '02'>01:00</div>
                                                    <div class="timebox padding-0" value = '01:30' id = '03'></div>
                                                    <div class="timebox padding-0" value = '02:00' id = '04'>02:00</div>
                                                    <div class="timebox padding-0" value = '02:30' id = '05'></div>
                                                    <div class="timebox padding-0" value = '03:00' id = '06'>03:00</div>
                                                    <div class="timebox padding-0" value = '03:30' id = '07'></div>
                                                    <div class="timebox padding-0" value = '04:00' id = '08'>04:00</div>
                                                    <div class="timebox padding-0" value = '04:30' id = '09'></div>
                                                    <div class="timebox padding-0" value = '05:00' id = '10'>05:00</div>
                                                    <div class="timebox padding-0" value = '05:30' id = '11'></div>
                                                    <div class="timebox padding-0" value = '06:00' id = '12'>06:00</div>
                                                    <div class="timebox padding-0" value = '06:30' id = '13'></div>
                                                    <div class="timebox padding-0" value = '07:00' id = '14'>07:00</div>
                                                    <div class="timebox padding-0" value = '07:30' id = '15'></div>
                                                    <div class="timebox padding-0" value = '08:00' id = '16'>08:00</div>
                                                    <div class="timebox padding-0" value = '08:30' id = '17'></div>
                                                    <div class="timebox padding-0" value = '09:00' id = '18'>09:00</div>
                                                    <div class="timebox padding-0" value = '09:30' id = '19'></div>
                                                    <div class="timebox padding-0" value = '10:00' id = '20'>10:00</div>
                                                    <div class="timebox padding-0" value = '10:30' id = '21'></div>
                                                    <div class="timebox padding-0" value = '11:00' id = '22'>11:00</div>
                                                    <div class="timebox padding-0" value = '11:30' id = '23'></div>
                                                    <div class="timebox padding-0 timeCenter" value = '12:00' id = '24'>12:00</div>
                                                    <div class="timebox padding-0" value = '12:30' id = '25'></div>
                                                    <div class="timebox padding-0" value = '13:00' id = '26'>13:00</div>
                                                    <div class="timebox padding-0" value = '13:30' id = '27'></div>
                                                    <div class="timebox padding-0" value = '14:00' id = '28'>14:00</div>
                                                    <div class="timebox padding-0" value = '14:30' id = '29'></div>
                                                    <div class="timebox padding-0" value = '15:00' id = '30'>15:00</div>
                                                    <div class="timebox padding-0" value = '15:30' id = '31'></div>
                                                    <div class="timebox padding-0" value = '16:00' id = '32'>16:00</div>
                                                    <div class="timebox padding-0" value = '16:30' id = '33'></div>
                                                    <div class="timebox padding-0" value = '17:00' id = '34'>17:00</div>
                                                    <div class="timebox padding-0" value = '17:30' id = '35'></div>
                                                    <div class="timebox padding-0" value = '18:00' id = '36'>18:00</div>
                                                    <div class="timebox padding-0" value = '18:30' id = '37'></div>
                                                    <div class="timebox padding-0" value = '19:00' id = '38'>19:00</div>
                                                    <div class="timebox padding-0" value = '19:30' id = '39'></div>
                                                    <div class="timebox padding-0" value = '20:00' id = '40'>20:00</div>
                                                    <div class="timebox padding-0" value = '20:30' id = '41'></div>
                                                    <div class="timebox padding-0" value = '21:00' id = '42'>21:00</div>
                                                    <div class="timebox padding-0" value = '21:30' id = '43'></div>
                                                    <div class="timebox padding-0" value = '22:00' id = '44'>22:00</div>
                                                    <div class="timebox padding-0" value = '22:30' id = '45'></div>
                                                    <div class="timebox padding-0" value = '23:00' id = '46'>23:00</div>
                                                    <div class="timebox padding-0" value = '23:30' id = '47'></div>
                                                </div>
                                
                                            </div>
                                            <div class="col-md-12 margin-0 introduce">
                                                <div class="col-md-12 bg-grey-600 padding-0 margin-0">
                                                    <button type="button" class="btn btn-sm btn-icon btn-flat name mtRoomDetail fname"
                                                            role="button" data-original-title="报名" style='color:#fff;background:#76838f'>会议室1</button>
                                                    <span >价格：<span style='padding-left:0' class='pay'>100</span><span style='padding-left:0' >元/小时</span></span>
                                                    <span class='peopleNum'>容纳人数：<span style='padding-left:0'>10人</span></span>
                                                    <button type="button" class="btn btn-primary pull-right order" onclick="cOrder($(this))" data-target="#logsForm" data-name="dsadsadsad" data-toggle="modal" aria-hidden="true" role="button">&nbsp;&nbsp;<i class="fa fa-check" aria-hidden="true"></i>&nbsp;确认预定&nbsp;&nbsp;</button>
                                                    <button type="button" class="btn btn-warning pull-right collect"
                                                            onclick="collect($(this))">&nbsp;&nbsp;<i
                                                            class="fa fa-heart-o" aria-hidden="true"></i>&nbsp;收藏&nbsp;&nbsp;
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix visible-sm-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    
</body>
<!--会议室选择时间-->
<script src = '__PUBLIC__/js/meetingRoom.js'></script>
<!--选择时间点插件-->
<script src="__PUBLIC__/vendor/jt-timepicker/jquery.timepicker.min.js"></script>

{include file="index@public/footer"}