{include file="wechat@public/header"}
<style>
	a{text-decoration: none;}
	a:visited{text-decoration: none;}
	a:hover {text-decoration: none;}
	a:active{text-decoration:none;} 
	.weui-cell__hd .weui-label{color:#595757;font-size:15px;}
	.weui-cell__hd .weui-label .require{color:#e64340;}
	.weui-cell__bd{color:#878787;font-size:15px;}
	.weui-input{text-align:left;}
</style>
</head>
<body ontouchstart>
<div class="navbox">
	<a href="javascript:history.back(-1)"><div class="left"><i class="icon iconfont icon-back"></i></div></a>
	<div class="center">修改密码</div>
</div>
<div class="weui-cells weui-cells_form first-header">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">原密码</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" placeholder="输入原密码">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" placeholder="输入新密码，6-16位字符">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
        <div class="weui-cell__bd">
          	<input class="weui-input" type="text" placeholder="再次确认密码">
        </div>
    </div>
</div>
<div class="choosebox" style="background:none;margin-top:20px;">
    <div class="weui-row weui-no-gutter" style="padding:0 15px;">
	    <div class="weui-col-100" style="background:none;">
	      	<a class="weui-btn" href="javascript:" style="font-size:16px;background:#0093e7;">确认</a>
	    </div>
    </div>
</div>
{include file="wechat@public/footer"}