{include file="wechat@public/header"}
<style>
	a{text-decoration: none;}
	a:visited{text-decoration: none;}
	a:hover {text-decoration: none;}
	a:active{text-decoration:none;}
	.weui-cell__hd .weui-label{color:#595757;font-size:15px;}
	.weui-cell__bd{color:#878787;font-size:15px;text-align:right;}
</style>
</head>
<body ontouchstart>
<script>
$(function(){
	/*报名详情*/
	var needle=location.href.indexOf('id=');//判断地址栏是否有id
	if(needle!=-1){
		var signId=location.href.substr(needle+3);
		session('signId',signId);
	}else{
		var signId=session('signId');
	}
	var url="{:url('activity/activity/getSignInfo')}";
	cstmpost('',url,{signId:signId},function(res){
		$('#total').html(res.data.total+'元');
		switch(res.data.status){
			case'7001001':
					$('#checkDiv').show();
				res.data.signstatus='待审核';
				break;
			case'7001002':
				res.data.signstatus='报名成功';
				break;
			case'7001003':
				res.data.signstatus='已拒绝';
				break;
			case'7001000':
				res.data.signstatus='已取消';
				break;
		}
		delete res.data.total
		session('actId',res.data.actId);
		assign(res);
	})
})
//审核
function changeStatus(status){
	var url="{:url('activity/activity/saveSign')}";
	if(status==7001002){
		var eid="#pass";
	}else{
		var eid="#refuse";
	}
	var num=$('#num').val();
	cstmpost(eid,url,{id:session('signId'),status:status,num:num,actId:session('actId')},function(res){
//            alert(JSON.stringify(res));
		if(res.code==1){
			$.toptip(res.msg,'success');
//			$('#myModal').modal('hide');
			location.href="{:url('wechat/test/enrollmanage')}";
		}else{
			$.toptip(res.msg,'warning');
		}
	})
}
</script>
<div class="weui-tab">
	<div class="weui-tab__bd">
		<div class="weui-tab__bd-item weui-tab__bd-item--active">
			<div class="navbox">
				<a href="javascript:history.back(-1)"><div class="left"><i class="icon iconfont icon-back"></i></div></a>
				<div class="center">报名管理详情</div>
			</div>
			<div class="weui-cells weui-cells_form first-header">
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label class="weui-label">订单编号</label></div>
			        <div class="weui-cell__bd">
			          	<p id="serialNo"></p>
			        </div>
			    </div>
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label class="weui-label">报名人</label></div>
			        <div class="weui-cell__bd">
			            <p id="name"></p>
			        </div>
			    </div>
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label class="weui-label">联系方式</label></div>
			        <div class="weui-cell__bd">
				        <p id="mobile"></p>
			        </div>
			    </div>
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label for="" class="weui-label">人数</label></div>
			        <div class="weui-cell__bd">
				        <p id="num"></p>
			        </div>
			    </div>
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label class="weui-label">报名费用</label></div>
			        <div class="weui-cell__bd">
			          	<p id="total"></p>
			        </div>
			    </div>
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label class="weui-label">报名时间</label></div>
			        <div class="weui-cell__bd">
			          	<p id="addtime"></p>
			        </div>
			    </div>
			    <div class="weui-cell">
			        <div class="weui-cell__hd"><label class="weui-label">报名状态</label></div>
			        <div class="weui-cell__bd">
			          	<p style="color:#0093e7;" id="signstatus">待审核</p>
			        </div>
			    </div>
		    </div>
		    <div class="choosebox last-footer" style="background:none;margin-top:20px;">
		        <div id="checkDiv" class="weui-row weui-no-gutter"style="display:none">
				    <div class="weui-col-50" style="background:none;">
				      	<a id="pass" onclick="changeStatus(7001003)" class="weui-btn" href="javascript:" style="font-size:16px;background:#0093e7;" >拒绝</a>
				    </div>
				    <div class="weui-col-50" style="background:none;" >
				      	<a id="refuse" onclick="changeStatus(7001002)"  class="weui-btn" href="javascript:" style="font-size:16px;background:#f39b0f;" >通过</a>
				    </div>
			    </div>
		    </div>
		</div>
	</div>
{include file="wechat@public/bottom"}
{include file="wechat@public/footer"}