{include file="index@public::header"}
<script src="__PUBLIC__/js/common.js"></script>
<script src="__PUBLIC__/js/base.js"></script>
<script src="__PUBLIC__/js/sysDict.js"></script>
<link href="__PLUG__/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
<script src="__PLUG__/bootstrap-table/bootstrap-table.min.js"></script>
<script>
    $(function(){
        //地址栏获取id
        var id=session('id');
        //案例列表;
        var param=new Object();
        param._tm = new Date();
        if(id!=""){
            param.id=id;
        }
        //获取数据
        cstmpost('',"{:url('/iqbt/Iqbt/getIqbtInfo')}",{id:id},function(res){
            //初始化环境图片
            assign(res);

        });

    })

</script>
<!--海报弹出层-->
<div class="modal fade example-modal-lg" aria-hidden="true" aria-labelledby="exampleOptionalLarge" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img class="img-responsive width-full" src="" id="buildPicUrl">
            </div>
        </div>
    </div>
</div>
<main class="site-page">
    <div class="page-container" id="admui-pageContent">
        <div class="page animation-fade page-forms">
            <div class="page-header">
                <h1 class="page-title">
                    空间信息
                    <span class="label label-success margin-left-20" id="iqbtstatus"></span>
                </h1>
            </div>
            <div class="page-content">
                <div class="panel">
                    <div class="panel-body container-fluid padding-top-0">
                        <div class="row row-lg">
                            <div class="col-md-12">
                                <div class="example-wrap">
                                    <div class="example example-buttons">
                                        <h4 class="padding-bottom-10 btborder">基本信息</h4>
                                    </div>
                                    <div class="example">
                                        <!--<form class="form-horizontal" id="iqbtForm">-->
                                        <div class="form-group col-md-12">
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 空间名称：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label" id="name"></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20">空间类型：</label>
                                            <div class="col-sm-4 padding-bottom-20" >
                                                <label class="control-label" id="typeText"></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 联系人：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label" id="contact"></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 联系电话：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label" id="mobile" ></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 空间位置：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label"><span  id="districtId"></span></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 详细地址：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label" ><label id="address"></label></label></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 公司名称：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label" ><label id="company"></label></label></label>
                                            </div>
                                            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 了解渠道：</label>
                                            <div class="col-sm-4 padding-bottom-20">
                                                <label class="control-label" ><label id="fromText"></label></label></label>
                                            </div>
                                        </div>
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

{include file="index@public::footer"}