<!--footer-->
<footer class="site-footer">
    <div class="site-footer-legal">创8助手 &copy;
        <a href="http://cbadmin.zlhuiyun.com/" target="_blank">cbadmin.zlhuiyun.com</a>
    </div>
    <div class="site-footer-right">
        当前版本：v1.3.0
        <a class="margin-left-5" data-toggle="tooltip" title="升级" href="javascript:void(0);" target="_blank">
            <i class="icon fa-cloud-upload"></i>
        </a>
    </div>
</footer>

<!-- 插件 -->
<script src="__PUBLIC__/themes/classic/global/js/plugins/responsive-tabs.js"></script>
<script src="__PUBLIC__/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
<script src="__PUBLIC__/vendor/slimscroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/vendor/screenfull/screenfull.min.js"></script>
<script src="__PUBLIC__/vendor/jquery-strength/jquery-strength.min.js"></script>
<script src="__PUBLIC__/vendor/alertify-js/alertify.min.js"></script>
<script src="__PUBLIC__/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendor/datatables-bootstrap/dataTables.bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/datatables-responsive/dataTables.responsive.min.js"></script>
<script src="__PUBLIC__/vendor/formvalidation/formValidation.min.js"></script>
<script src="__PUBLIC__/vendor/formvalidation/framework/bootstrap.min.js"></script>
<script src="__PUBLIC__/vendor/switchery/switchery.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<!--上传图片插件-->
<script src="__PUBLIC__/vendor/blueimp-tmpl/tmpl.min.js"></script>
<script src="__PUBLIC__/vendor/blueimp-canvas-to-blob/canvas-to-blob.min.js"></script>
<script src="__PUBLIC__/vendor/blueimp-load-image/load-image.all.min.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload-process.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload-image.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload-audio.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload-video.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload-validate.js"></script>
<script src="__PUBLIC__/vendor/blueimp-file-upload/jquery.fileupload-ui.js"></script>
<script src="__PUBLIC__/vendor/dropify/dropify.min.js"></script>
<script src="__PUBLIC__/js/examples/forms/dropify.js"></script>
<script src="__PUBLIC__/js/system/log.js"></script>
<script src="__PUBLIC__/js/system/account/account.js"></script>
<!--<script src="__PUBLIC__/js/system/account/message.js"></script>-->
<script src="__PUBLIC__/js/system/account/password.js"></script>
<!--选择时间插件-->
<script src="__PUBLIC__/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="__PUBLIC__/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>

<!--图片放大插件-->
<script src="__PUBLIC__/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="__PUBLIC__/js/examples/components/advanced/lightbox.js"></script>

<!-- 消息通知 -->
<!--<script src="__PUBLIC__/js/notify-msg.js"></script>-->

</body>
</html>