<div class="weui-tabbar" id='bottom-color'>
		<a href="{:url('wechat/test/index')}" class="weui-tabbar__item weui-bar__item--on">
			<!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>-->
			<div class="weui-tabbar__icon">
				<i class="icon iconfont icon-yewu"></i>
			</div>
			<p class="weui-tabbar__label">业务</p>
		</a>
		<a href="{:url('wechat/test/charta')}" class="weui-tabbar__item chart">
			<div class="weui-tabbar__icon">
				<i class="icon iconfont icon-shujubaobiao"></i>
			</div>
			<p class="weui-tabbar__label">数据</p>
		</a>
		<a href="{:url('wechat/user/myIcb')}" class="weui-tabbar__item fo-bottom">
			<div class="weui-tabbar__icon">
				<i class="icon iconfont icon-account"></i>
			</div>
			<p class="weui-tabbar__label">我的</p>
		</a>
		<a href="{:url('wechat/auth/bind')}" class="weui-tabbar__item fo-bottom">
			<div class="weui-tabbar__icon">
				<i class="icon iconfont icon-account"></i>
			</div>
			<p class="weui-tabbar__label">切换账号</p>
		</a>
	</div>
</div>