<!DOCTYPE html>
<html>

<head>
    <title>创8助手</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <!--阿里图库-->
    <link rel="stylesheet" href="__PUBLIC__/wechat/iconfont/demo.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/iconfont/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/lib/weui.min.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/jquery-weui.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/demos.css">
    <link rel="stylesheet" href="__PUBLIC__/wechat/css/public.css">


    <script src="__PUBLIC__/wechat/lib/jquery-2.1.4.js"></script>
    <script src='__PUBLIC__/js/base.js'></script>
    <script src='__PUBLIC__/js/common.js'></script>
    <script src='__PUBLIC__/js/sysDict.js'></script>
    <script src="__PUBLIC__/vendor/jquery/jquery.js"></script>